<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 如果要使用接口是编程，则namespace需要写为接口的全限定类名，且配置文件中的sql语句的id要与接口中的方法名称相同 -->
<mapper namespace="org.jiang.mybatis.mapper.UserMapper">
  <select id="getUserById" resultType="org.jiang.mybatis.entity.User" databaseId="mysql">
    select * from test_hibernate_user where  username=#{username}
  </select>
  <select id="getUserById" resultType="org.jiang.mybatis.entity.User" parameterType="String" databaseId="oracle">
    select * from test_hibernate_user where id = #{id}
  </select>
  <insert id="insertUser"  databaseId="mysql" parameterType="org.jiang.mybatis.entity.User">
  	insert into test_hibernate_user(id,username,userpwd) values (#{id},#{userName},#{userPwd})
  </insert>
  <update id="updateUser" databaseId="mysql" parameterType="org.jiang.mybatis.entity.User">
  	update test_hibernate_user set username=#{userName},userpwd=#{userPwd} where id=#{id}
  </update>
  <delete id="deleteUser" databaseId="mysql" parameterType="String">
    delete from test_hibernate_user where id=#{id} 
  </delete>
</mapper>